@model Blog

@{
    ViewData["Title"] = "Delete";
}
<div class="col-12">
    <div class="col-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Are you sure delete @Model.Name</h4>
                <br />
                <form method="post" class="forms-sample">
                    <button type="submit" class="btn btn-danger me-2">Yes</button>
                    <a asp-action="Index" class="btn btn-light">Go back</a>
                </form>
            </div>
        </div>
    </div>
</div>




